
<div class="container">
	<div class="row" style="margin-top: 10px;">
		<div class="col text-center">
			<h1>Chord Trainning</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="row">
				<app-quests-quantity-input class="col"></app-quests-quantity-input>
				<div class="col">
					<button class="btn btn-primary" (click)="start()">start</button>
				</div>
				<div class="col">
					<button class="btn btn-primary" (click)="reset()">Reset</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" style="margin-top: 10px;">
		<div class="col text-center">
			<h3>Custom Chord Trainning</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<app-custom-training-card></app-custom-training-card>
		</div>
	</div>
</div>
<ng-template ngFor let-chordTrainings [ngForOf]="batchTraining">
	<div class="container" style="margin-top: 10px;">
		<div class="row">
			<div class="col" *ngFor="let chordTraining of chordTrainings">
				<app-training-card [chordTraining]="chordTraining"></app-training-card>
			</div>
		</div>
	</div>
</ng-template>