
<div class="container">
	<div class="row" style="margin-top: 10px;">
		<div class="col text-center">
			<h1>Chord Trainning</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="form-check"><input type="checkbox" class="form-check-input" id="multi-select" 
						[checked]="multipleQuest"
						(change)="onMultipleSelect()"/><label class="form-check-label" for="formCheck-1">Multi-select</label></div>
				</div>
				<div class="col text-end"
					*ngIf="multipleQuest">
					<button class="btn btn-primary" type="button"
						(click)="onMultipleStart()">Start</button>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template ngFor let-chordTrainings [ngForOf]="batchTraining">
	<div class="container" style="margin-top: 10px;">
		<div class="row">
			<div class="col" *ngFor="let chordTraining of chordTrainings">
				<div class="card" [class.selected]="chordTraining.selected">
					<div class="card-body">
						<h4 class="card-title">{{ chordTraining.title }}</h4>
						<p>Difficulty: {{ chordTraining.difficulty }}</p>
						<button *ngIf="!multipleQuest" class="btn btn-primary" type="button"
							(click)="onCardClick(chordTraining)">Start</button>
						<button *ngIf="multipleQuest" class="btn btn-primary" type="button"
							(click)="onCardSelect(chordTraining)">Select</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>