<div class="col-4 text-left" style="margin: 0px;padding: 5px 15px;">
	<button class="btn btn-light btn-sm" id="zoom_in" type="button" style="padding: 5px;margin: 2px;"
		(click)="zoomIn()">
		<i class="fa fa-search-plus"></i>
	</button>
	<button class="btn btn-light btn-sm" id="zoom_out" type="button" style="padding: 5px;margin: 2px;"
		(click)="zoomOut()">
		<i class="fa fa-search-minus"></i>
	</button>
	<button class="btn btn-light btn-sm" type="button" style="padding: 5px;margin: 2px;"
		(click)="octaveTest()">octave
	</button>
</div>
<div class="key-container"
	[style.height.px]="keySize.height">
	<div class="keyboard"
		[style.width.px]="octaveWidth"
		>
		<button class="key" 
			*ngFor="let key of pianoService.keys"
			[class.right]="(key.isActive && !isQuest)||(key.isActive && key.isRight && isQuest)"
			[class.wrong]="(key.isActive && isQuest)||(key.isActive && !key.isRight && isQuest)"
			[attr.data-note]="key.note"
			[attr.data-octave]="key.octave"
			[style.height.px]="keySize.height"
			[style.width.px]="keySize.width"
			(click)="onKeyClick(key)"></button>
	</div>
</div>