$blue: #22475e
$yellow: #4c4a30
$red: #421d26
$radius: 5px
// $white-key-height: 380px
// $white-key-width: 77px

:host
	font-family: "Open Sans Condensed"
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background: #422c1d
	padding: 0.25rem 1rem

.key-container
	overflow: hidden // To cut excess keys if doesnt fit

.keyboard
	// width: 6.3*$white-key-width
	position: relative
	display: inline

.octave
	// width: 6.5*$white-key-width
	float: left
	display: contents // To make octave keys split

.key
	display: inline-block
	position: relative
	// width: $white-key-width
	// height: $white-key-height
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3)
	background: ivory
	vertical-align: top
	cursor: pointer
	border-radius: $radius
	transition: 1s
	color: rgba(255, 255, 255, 0.3)
	margin-left: -7px

[data-note*="#"]
	position: absolute
	z-index: 100
	background: #111
	transform-origin: center top
	transform: translateX(-50%) scaleY(0.6) scaleX(0.75)
	border-radius: 0 0 $radius * 1.6 $radius * 1.6
